<% include partials/head %>

  <body>
    <div class="col-sm-8 col-sm-offset-2">
      <div class="jumbotron text-center">
        <h1>TAS</h1>
        <p class="lead">A authentication app built with express, node & passport.</p>
        <p class="lead">A restfull app for Users, Travels and Reservations.</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-sign-in"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>

      </div>
      <p>By Diogo and Afonso.</p>
    </div>
  </body>
</html>
